---
import HeadCommon from '../components/HeadCommon.astro';
import HeadSEO from '../components/HeadSEO.astro';
import Header from '../components/Header/Header.astro';
import Footer from '../components/Footer/Footer.astro';
import * as CONFIG from '../config';
import { SIDEBAR } from './route';


const { content = {} } = Astro.props;
const currentPage = new URL(Astro.request.url).pathname;

const currentFile = `src/pages${currentPage.replace(/\/$/, '')}.md`;
const githubEditUrl = CONFIG.GITHUB_EDIT_URL && CONFIG.GITHUB_EDIT_URL + currentFile;
const modules = content.modules || [];
const showModules = SIDEBAR.filter(item => modules.includes(item.module));

---

<html class="initial">
	<head>
		<HeadCommon />
		<HeadSEO {content} canonicalURL={Astro.canonicalURL} />
		<title>{content.title ? `${content.title} 🚀 ${CONFIG.SITE.title}` : CONFIG.SITE.title}</title>
		<style>
			body {
				width: 100%;
				display: grid;
				grid-template-rows: var(--theme-navbar-height) 1fr;
				--gutter: 0.5rem;
				--doc-padding: 2rem;
			}
			.layout {
				display: grid;
				grid-auto-flow: column;
				grid-template-columns:
					minmax(var(--gutter), 1fr)
					minmax(0, var(--max-width))
					minmax(var(--gutter), 1fr);
				overflow-x: hidden;
			}
			.layout :global(> *) {
				width: 100%;
				height: 100%;
			}
			.grid-sidebar {
				height: 100vh;
				position: sticky;
				top: 0;
				padding: 0;
			}
			#grid-left {
				position: fixed;
				background-color: var(--theme-bg);
				z-index: 10;
				display: none;
			}
			#grid-main {
				padding: var(--doc-padding) var(--gutter);
				grid-column: 2;
				display: flex;
				flex-direction: column;
				height: 100%;
			}
			#grid-right {
				display: none;
			}
			:global(.mobile-sidebar-toggle) {
				overflow: hidden;
			}
			:global(.mobile-sidebar-toggle) #grid-left {
				display: block;
				top: 2rem;
			}
			@media (min-width: 50em) {
				.layout {
					overflow: initial;
					grid-template-columns:
						20rem
						minmax(0, var(--max-width));
					gap: 1em;
				}
				#grid-left {
					display: flex;
					padding-left: 2rem;
					position: sticky;
					grid-column: 1;
				}
			}

			@media (min-width: 72em) {
				.layout {
					grid-template-columns:
						20rem
						minmax(0, var(--max-width))
						18rem;
					padding-left: 0;
					padding-right: 0;
					margin: 0 auto;
				}
				#grid-right {
					grid-column: 3;
					display: flex;
				}
			}

            .home-site{
                font-size: 24px;
            }
            .home-content{
                margin-top: 40px;
                display: flex;
                flex-direction: row;
                justify-content: center;
                flex-wrap: nowrap;
            
            }
            .content-box{
                flex: 0 0 30%;
                height: 160px;
                line-height: 160px;
                text-align: center;
                margin: auto;
                background-color: bisque;
            }
		</style>
	</head>

	<body>
		<Header />
		<main class="layout">
			<div id="grid-main">
                <div class="home-site">{ content.description }</div>
                <div class="home-content">
                    {showModules.map(module => {
                        return <div class="content-box">
                            <a href={`${Astro.site.pathname}${module.link}`}>
									{module.text}
							</a>
                            </div>
                    })}
                </div>
				<slot />
			</div>
		</main>
		<!-- <Footer /> -->
	</body>
</html>
